.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container {
    margin:50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:45px;
}
.btn-proceed {
    background:#FF9900;
    width: 90%;
    height: 56px;
    font-size: 21px;
    margin-bottom: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    color: white;
    
}
.proceed-link {
    text-decoration: none;
   
}